footer  {
  background-color: #19223A;
  text-align: center;
  padding: 5px 0px;
}

.content-container  {
  min-height: calc(100vh - 40px);
}


.footer--pin  {
  position: relative;
  left: 0;
  bottom: 0;
}


@media only screen and (min-width: 1440px)  {
  .content-container  {
    margin-left: 120px;
    margin-right: 120px;
  }
}